<template name="defaultMobile">
	{{>bertAlert}}
	{{>headerMobile}}
	<div class="container">
	{{#if Template.subscriptionsReady}}
		{{#if loggingIn}}
			{{> loading}}
		{{else}}
			{{#if authenticated}}
				{{userProfilez}}
				{{userPaymentz}}
				{{#unless redirectAuthenticated}}
					{{> Template.dynamic template=yield}}
				{{/unless}}
			{{else}}
				{{#unless redirectPublic}}
					{{> Template.dynamic template=yield}}
				{{/unless}}
			{{/if}}
		{{/if}}
	{{else}}
		{{>loading}}
	{{/if}}
	</div>
</template>
