<template name="defaultMobile">
	{{>bertAlert}}
	{{>headerMobile}}
	{{#if Template.subscriptionsReady}}
		{{#if loggingIn}}
			{{> loading}}
		{{else}}
			{{#if authenticated}}
				{{#unless redirectAuthenticated}}
				{{#if Template.subscriptionsReady}}
					{{#if userProfilez}}
						{{> userMobile}}
					{{else}}
						{{#if userPaymentz}}
							{{> paymentMobile}}
						{{else}}
						<div class="container" style="margin-bottom: 15vh">
							{{> Template.dynamic template=yield}}
						</div>
							{{> Template.dynamic template=fixedFooter}}
						{{/if}}
					{{/if}}
				{{/if}}
				{{/unless}}
			{{else}}
				{{#unless redirectPublic}}
					{{> Template.dynamic template=yield}}
				{{/unless}}
			{{/if}}
		{{/if}}
	{{else}}
		{{>loading}}
	{{/if}}
</template>
