<template name="barsMobile">
  <h4 class="center-align">Nearby Bars</h4>
  <form>
    <div class="input-field">
      <input id="search" type="search" required>
      <label for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
  </form>

  <ul class="collection">
    {{#each findBars}}
      <li class="collection-item avatar">
        <span class="title">{{name}}</span>
        <p>{{location.address}}<br>
           {{phone}}
        </p>
        <a href="{{pathFor 'menuMobile'}}/{{_id}}" class="secondary-content setBarSession" id="{{_id}}"><i class="material-icons">navigate_next</i></a>
      </li>
      {{/each}}
    </ul>
</template>


<!--
{{#if Template.subscriptionsReady}}
<div class="jumbotron text-center" style="padding: 20px;">
  <h4>Hello,</h4>
  <h5>{{currentUser.emails.[0].address}}</h5>
  <br><br>
  <p>Would you like us to match you to your bar? If you would
    like to manually select your bar please navigate to 'All Bars'</p>
  <p style="font-size: 16px; color: #aaa;">Turn on your location to
    get started</p>
  <button class="btn waves-effect waves-light location" type="submit"
  name="action">Locate<i class="material-icons right">send</i>
  </button>
  {{#if getLocation}}
  {{getLocation.lat}}
  {{getLocation.lng}}
  {{/if}}
</div>
{{else}}
  {{>loading}}
{{/if}}
-->
