<template name="barsMobile">
  <h4 class="center-align">Nearby Bars</h4>
  <form>
    <div class="input-field">
      <input id="search" type="search" required>
      <label for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
  </form>

  <ul class="collection">
    {{#each findBars}}
      <li class="collection-item avatar">
        <span class="title">{{name}}</span>
        <p>{{location.address}}<br>
           {{phone}}
        </p>
        <a href="{{pathFor 'menuMobile'}}/{{_id}}" class="secondary-content setBarSession" id="{{_id}}"><i class="material-icons">navigate_next</i></a>
      </li>
      {{/each}}
    </ul>
</template>
