<Template name="menuMobile">

  <ul class="collection with-header">
    <li class="collection-header center-align">
      <h4>{{barName.name}}</h4></li>
  </ul>


  {{#each categoryItems}}
  <ul class="collection with-header z-depth-2">

    <li class="collection-header">
      <h5>{{this}}</h5>
    </li>
    {{#each sortedItems this}}
    <li class="collection-item avatar">
      <div>
        <span class="title">{{name}}</span>
        {{#if inStock}}
          <p>{{prettyPrice price}}</p>
        {{else}}
          <p>Out of Stock</p>
        {{/if}}
        <a class="secondary-content drink-count" id="{{_id}}">
          <i class="material-icons remove-drink">remove</i>
          {{currentQuantity _id}}
          <i class="material-icons add-drink">add</i>
        </a>
      </div>
    </li>
    {{/each}}
  </ul>
  {{/each}}

  <!-- <ul class="collection with-header">

    <li class="collection-header">
      <h4>Checkout</h4></li>

    <li class="collection-item">
      <div></div>
    </li>

  </ul> -->

</Template>

<template name="checkoutFooter">
  <div class="checkout-bottom deep-purple lighten-2">
    <h4 class="center-align white-text">
      {{prettyPrice orderTotal}}
      <i class="material-icons remove-drink">keyboard_arrow_up</i>
    </h4>
  </div>
</template>

<template name="currentOrder">
  <h4>Order:</h4>
  {{#each itemList}}
  <p>
    {{this.name}} <div class="right-align">{{prettyPrice this.price}}</div>
  </p>
  {{/each}}
  <div class="divider"></div>
  <div class="right-align">{{prettyPrice orderTotal}}</div>

</template>
