<template name="userMobile">
  <div class="valign-wrapper valign-helper-logged-out">
    <div class="container valign">
      <div class="row">
        <div class="col s12 white z-depth-1 inner-padding">
          <div class="row">
            <h4 class="page-header center">Profile Picture</h4>
            <hr>
            <img class="circle center-block" src='{{fakeData}}' />
            <br />
            <div class="center-align">
            </div>
            <div class="center-align">
              <div class="waves-effect waves-light btn newImage">New Image</div>
            </div>
            <br>
            <div class="container">
              {{#autoForm id="paymentInfo" collection="Meteor.users" doc=currentUser type="update"}}
                {{>afQuickField name="profile.firstName"}}
                {{>afQuickField name="profile.lastName"}}
                <p>Step 2 of 3</p>
                <button class="btn waves-effect waves-light right-align saveImage" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
                </button>
              {{/autoForm}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
