<template name="splashMobile">
	<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text awesome">Oh, Beer!</h1>
      <div class="row center">
        <h5 class="header col s12 light">Ordering drinks made easy.</h5>
      </div>
      <div class="row center">
        <a href="{{pathFor 'signupMobile'}}" id="download-button" class="btn-large waves-effect waves-light">Sign Up</a>
				<a href="{{pathFor 'loginMobile'}}" id="download-button" class="btn-large waves-effect waves-light">Login</a>
      </div>
    </div>
  </div>
</template>
