<template name="mainLayout">

<nav>
  <a href="#" class="brand-logo center">Oh, Beer!</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/home">Home</a></li>
      <li><a href="/order">Order</a></li>
      <li><a href="/profile">My Profile</a></li>
    </ul>
    <ul id="slide-out" class="side-nav">
      <li><a href="/home">Home</a></li>
      <li><a href="/order">Order</a></li>
      <li><a href="/profile">My Profile</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>
<br>

  <body>
    <div class="container">
      <main>
        {{>Template.dynamic template=content}}
      </main>
    </div>

    <div class="container">
      <footer>TEAM CJK</footer>
    </div>
  </body>

</template>