<template name="defaultMobile">
	{{>bertAlert}}
	{{>headerMobile}}
	<div class="container">
	{{#if Template.subscriptionsReady}}
		{{#if loggingIn}}
			{{> loading}}
		{{else}}
			{{#if authenticated}}
				{{#unless redirectAuthenticated}}
				{{#if Template.subscriptionsReady}}
					{{#if userProfilez}}
						{{> userProfile}}
					{{else}}
						{{#if userPaymentz}}
							{{> paymentMobile}}
						{{else}}
							{{> Template.dynamic template=yield}}
						{{/if}}
					{{/if}}
				{{/if}}
				{{/unless}}
			{{else}}
				{{#unless redirectPublic}}
					{{> Template.dynamic template=yield}}
				{{/unless}}
			{{/if}}
		{{/if}}
	{{else}}
		{{>loading}}
	{{/if}}
	</div>
</template>
